name: nginx-and...
on:
  push:
    branches:
      - main

jobs:
  build:
    name: build and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login DockerHub
        run: |
          echo ${{ secrets.dddddd }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: init
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes; \
          docker buildx create --name multiarch --driver docker-container --use; \
          docker buildx inspect --bootstrap;
      - name: ビルド
        run: |
          docker buildx build \
            --push \
            --no-cache \
            --platform linux/arm64,linux/amd64 \
            -t ghcr.io/${{ github.repository }}:latest .
